@model StaffManager.Models.CompanyModel

@{
    ViewData["Title"] = "Edit Company";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Update" method="post">
    @Html.AntiForgeryToken()

    <input asp-for="Id" type="hidden" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LegalForm" class="form-label"></label>
        <select asp-for="LegalForm" class="form-select" asp-items="ViewBag.LegalForms"></select>
        <span asp-validation-for="LegalForm" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Удалить</button>
</form>
